@use "../../scss/utils/mixins.scss" as *;

.item-detail {
  @include flex(center, flex-start, row);
  gap: 3rem;

  a {
    text-decoration: none;
    color: #f4f4f4;
    margin-bottom: 2rem;
  }

  &__image {
    width: 65%;
    position: relative;

    img {
      width: 60%;
      height: 60%;
      object-fit: cover;
      margin-bottom: 2rem;
      margin-left: 14vw;
    }

    &--category {
      position: absolute;
      top: 0;
      left: 0;
      background-color:#5e2129;
      border-bottom-right-radius: 0.125rem;
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
      transition: all 0.4s ease;
      margin-left: 14vw;

      &:hover {
        color: #5e2129;
        background-color: #f4f4f4;
      }
    }

    &--description {
      padding: 0.5rem;

      h3 {
        margin-bottom: 0.75em;
        font-weight: 400;
      }

      p {
        color: #f4f4f4;
        font-weight: 300;
        font-size: 1rem;
      }
    }

    &--share {
      padding: 0.5rem;
      margin-top: 1rem;

      h3 {
        font-weight: 400;
        margin-bottom: 1rem;
      }

      ul {
        @include flex(flex-start, center, row);
        list-style: none;
        gap: 0.75rem;

        a {
          margin: 0;
          background-color: #5e2129;
          height: 30px;
          width: 30px;
          padding: 1.25rem;
          border-radius: 50%;
          @include flex(center, center, row);
          transition: all 0.3s ease;

          &:hover {
            background-color: #4b312f;
          }

          li {
            height: 100%;
            width: 100%;
            color: #f4f4f4;
            @include flex(center, center, row);
          }
        }
      }
    }
  }

  &__info {
    @include flex(center, flex-start, column);
    padding-block: 1rem;
    height: 100%;
    width: 35%;

    &--title {
      font-weight: 300;
      font-size: 2.5rem;
      line-height: 1.2;
      margin: 0;
      margin-left: -2vw;
    }

    &--price {
      font-size: 2rem;
      font-weight: 300;
      margin-block: 1.5rem;
      color: #f4f4f4;
    }

    &--payments {
      @include flex(center, flex-start, column);
      gap: 0.65em;
      font-size: 0.95rem;
      font-weight: 300;
      margin-bottom: 2rem;
      color: #f4f4f4;

      span {
        font-weight: 500;
        color: #f4f4f4;
        margin-right: 0.25em;
      }

      a {
        text-decoration: underline;
        font-size: 0.75rem;
        color: #f4f4f4;
        margin: 0;
        font-weight: 400;
      }
    }

    &--shipping {
      font-size: 0.95rem;
      font-weight: 300;
      margin-top: 2.5rem;
      color: #f4f4f4;

      hr {
        margin-bottom: 2rem;
      }

      p {
        margin-bottom: 1rem;
        span {
          font-weight: 500;
          color: #f4f4f4;
          margin-right: 0.25em;
        }
      }

      div {
        @include flex(flex-start, space-between, row);
        gap: 0.5rem;
        margin-bottom: 1rem;

        input {
          background-color: #f4f4f4;
          border: none;
          border-radius: 0.75rem;
          height: 1.975rem;
          padding-inline: 0.75rem;

          &:focus {
            outline: 2px solid #63504f;
          }
        }

        button {
          background-color: #63504f;
          color: #f4f4f4;
          cursor: pointer;
          border-radius: 0.75rem;
          border: none;
          padding-inline: 1rem;
          transition: all 0.3s ease;

          &:hover {
            background-color: #4b312f;
          }
        }
      }

      a {
        text-decoration: underline;
        font-size: 0.75rem;
        color: #f4f4f4;
        margin: 0;
        font-weight: 400;
      }
    }
  }
}
.btn1 {
  width: 220px;
  height: 50px;
  border: none;
  margin-left: 30px;
  background-color: white;
  border-radius: 20px;
  transition: all 0.4s ease;
  color: #5e2129;
  cursor: pointer;
  font-size: 1.25rem;}

  .btn1:hover {
    background-color: #5e2129;
    color: white;
  }
  a {
    color:#5e2129
  }

