@use "../../scss/utils/mixins.scss" as *;

.top-bar {
  @include flex(center, center, row);
  height: 25px;
  background-color: rgb(8, 8, 8);

  p {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.85rem;
  }
}
