@use "../../scss/utils/mixins.scss" as *;

.item-list-container {
  padding-top: 3rem;
  display: grid;
  &__title {
    font-weight: 400;
    margin-bottom: 1em;
  }
  

  &__grid {
    @include flex(flex-start, center, row);
    flex-wrap: wrap;
    gap: 1rem;

    /* display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    & > article {
      scroll-snap-align: start;
    }

    &::-webkit-scrollbar {
      display: none;
    } */
  }
}
