.card:hover {
    transform: translateY(10px);
  }
.btn {
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    width: 90%;
    height: 2rem;
    margin-bottom: 10px;
    margin-left: 15px;
}
.btn:hover {
    background-color: white;
    color: #5e2129;
}