@use "../../scss/utils/mixins.scss" as *;

a {
  text-decoration: none;
}

.product-card {
  width: 280px;
  height: 400px;
  overflow: hidden;
  background-color:#440f16b8;
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); */
  transition: all 0.5s ease;

  &:hover {
    transform: translateY(-10px);
  }

  a {
    text-decoration: none;
    color: #f4f4f4;
  }

  &__image {
    width: 100%;
    height: 250px;
    background-color: #232323;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
      position: absolute;
      top: 0;
      right: 0;
      background-color:#5e2129;
      border-bottom-right-radius: 0.125rem;
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
      color: #f4f4f4;
      transition: all 0.4s ease;

      &:hover {
        color: #f4f4f4;
        background-color: #679699;
      }
    }
  }

  &__content {
    padding: 1rem;
    @include flex(center, center, column);

    h3 {
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.2;
      color: #f4f4f4;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    span {
      color: #f4f4f4;;
      font-size: 1.25rem;
      margin-bottom: 0.15rem;
    }

    p {
      text-align: center;
      font-size: 0.65rem;
      font-weight: 300;
      margin-bottom: 2rem;
      color: #f4f4f4;;

      span {
        font-size: 0.65rem;
        font-weight: 500;
        color: #f4f4f4;;
        margin-right: 0.25em;
      }
    }
  }
}
