@use "../scss/utils/mixins.scss" as *;

.checkout {
  display: flex;
  gap: 2rem;

  &-form {
    @include flex(flex-start, flex-start, column);
    gap: 2rem;
    width: 60%;
    border: 1px solid white;
    padding: 3rem;

    &__group {
      @include flex(flex-start, center, row);
      gap: 1rem;

      div {
        width: 50%;
      }
    }

    input {
      width: 100%;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid white;
      padding: 0.25rem 0.5rem 0.5rem 0.5rem;
      font-size: 1rem;
      margin-bottom: 2rem;
      color: #f4f4f4;
      transition: all 0.4s ease;

      &:focus {
        outline: none;
        border-bottom: 1px solid white;
      }
    }

    label {
      font-size: 0.85rem;
      text-transform: uppercase;
      padding-left: 0.5rem;
      color: #f4f4f4;
    }

    &__title {
      @include flex(flex-start, center, row);
      gap: 0.5rem;
      text-transform: uppercase;
      color: #f4f4f4;

      span {
        @include flex(center, center, row);
        background-color: #5e2129;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #f4f4f4;
        font-size: 0.85rem;
        font-weight: 500;
      }
    }

    &__info {
      width: 100%;
      padding-left: 2rem;
    }

    &__payments {
      width: 100%;
      padding-left: 2rem;

      &--btn {
        cursor: pointer;
        width: 100%;
        border: none;
        padding-block: 1rem;
        text-transform: uppercase;
        background-color: #5e2129;
        color: #f4f4f4;
        font-size: 1rem;
        transition: all 0.3s ease;

        &:hover {
          background-color: #5e2129;
        }
      }
    }
  }

  &-order {
    height: fit-content;
    width: 40%;
    color: #f4f4f4;
    border: 1px solid white;
    padding: 3rem;

    .empty-cart {
      @include flex(center, center, column);
      gap: 0.5em;

      p {
        color: #f4f4f4;
      }

      div {
        width: 100%;
        @include flex(center, center, row);
        gap: 0.5rem;
        font-size: 0.85rem;

        span {
          color: white;
        }

        a {
          color: white;
          transition: all 0.3s ease;

        }
      }
    }
  }
  .order {
    font-size: 10rem;
    color: #f4f4f4;
    font-weight: 600;
  }
}
