@use "../../scss/utils/mixins.scss" as *;
@use "../../scss/utils/breakpoints.scss" as *;

.navbar {
  background-color:#440f16b8;
  padding: 1.125rem 0;

  .container {
    @include flex(center, center, row);
    gap: 3rem;
  }

  &__left {
    @include flex(space-between, center, row);
    width: 100%;
  }

  &__toggle {
    background: none;
    border: none;

    i {
      font-size: 1.25rem;
      color: white;
      cursor: pointer;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__right {
    @include flex(space-between, center, row);
    width: 100%;

    @include mq-down(small) {
      justify-content: flex-end;
    }

    &--buttons {
      display: flex;
      gap: 1.5rem;

      @include mq-down(small) {
        gap: 1rem;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;

        i {
          font-size: 1.05rem;
          color: white;
        }
      }
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;

    @include mq-down(small) {
      display: none;
    }

    li {
      a {
        cursor: pointer;
        font-size: 1rem;
        text-transform: uppercase;
        color:  white;
        text-decoration: none;
        font-family: "Roboto Slab", serif;
      }
    }
  }

  .active {
    color:  white;
    font-weight: 600;
  }
}
