
@use "./scss/utils/classes.scss" as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
}

h1,
h3 {
  color: white;
  font-family: "Roboto Slab", serif;
}
h2 {
  color: white;
  font-family: "Roboto Slab", serif;
font-size: 3rem;  
text-align: center;
}
