@use "../../scss/utils/mixins.scss" as *;
.btn1 {
  width: 220px;
  height: 50px;
  border: none;
  margin-left: 30px;
  background-color: white;
  border-radius: 20px;
  transition: all 0.4s ease;
  color: #5e2129;
  cursor: pointer;
  font-size: 1.25rem;}

  .btn1:hover {
    background-color: #5e2129;
    color: white;
  }

.counter-item {
  @include flex(center, flex-start, column);
  gap: 1rem;

  h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .counter {
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    button {
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50%;
      background-color: white;
      transition: all 0.4s ease;
      color: #5e2129;
      cursor: pointer;
      font-size: 1.25rem;

      &:hover {
        background-color: #5e2129;
        color: white;
      }
    }

    span {
      font-size: 1.5rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      color: white;
    }
  }
  
  span {
    font-size: 0.75rem;
    color: white;
    margin: 0;
    font-weight: 400;
  }

}

